<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/sneakers.png"> 
    <title>SneakFinder - Details</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="static/css/templatemo-style.css">
<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#=/">
              <img src="/static/sneakers.png" width='64px' height='64px'>
                SneakFinder
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
			    <li class="nav-item">
                    <a class="nav-link nav-link-2" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="/search">Search</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" style="background-color: gray">
        <form class="d-flex tm-search-form" action="/search" target="_self" method="GET" autocomplete="off">
            <input class="form-control tm-search-input" type="text" placeholder="Search" aria-label="Search" name="searchdata" required>
            <button class="btn btn-outline-success tm-search-btn">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary" style="text-transform: capitalize;">{{ sneak1[1] }}</h2>
        </div>
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img src="{{sneak1[10]}}" alt="Image" class="img-fluid">
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="tm-bg-gray tm-video-details">
                  <h2>Shoe Information</h2>
                    <p class="mb-4" style="font-size: 18px; color: #000; text-transform: capitalize;"">
                        Brand: {{ sneak1[0] }} <br>
                        Model: {{ sneak1[1] }} <br>
                        Color: {{ sneak1[2] }} <br>
                        Style ID: {{ sneak1[3] }} <br>
                    </p>
                                     
                    <div class="mb-4 d-flex flex-wrap">
                        <div class="mr-4 mb-2">
                        </div>
                        <div class="mr-4 mb-2">
                        </div>
                    </div>
                    <div class="mb-4">
                        <h2 class="tm-text-gray-dark mb-3" style="color: #000">Lowest Resell Prices</h2>
                        <p>
                          <a href="{{ sneak1[7] }}"><h5>StockX: ${{ sneak1[4] }}</h2></a>
                          <br>
                          <a href="{{ sneak1[8] }}"><h5>GOAT: ${{ sneak1[5] }}</h2></a>
                          <br>
                          <a href="{{ sneak1[9] }}"><h5>FlightClub: ${{ sneak1[6] }}</h2></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                  <h4>SneakFinder was created by Jace Billingsley, <a href='https://jacebapps.com'>JaceBApps.com</a></h4><br></br><br></br>
                  <a href="https://www.flaticon.com/free-icons/shoes" title="shoes icons">Shoes icons created by Freepik - Flaticon</a>
            </div>
        </div>
    </footer>
    
    <script src="static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>dy>
</html>